
nav{
list-style: none;
}

img {
  float: right;
}

.custom {
  color: red;
  font-size: 24px;
  font-weight: bold;
  font-family:sans-serif;
}

nav a:hover {
  background: #555;
}

div.links {
 position: relative;
 left: 60px;

}

p.about {
  position: fixed;
  bottom: 300;
  right: 300;
  width: 500px;
  border: 3px solid #73AD21;
}
 p.more {
   position: absolute;
  top: 150px;
  right: 200px;
  width: 200px;
  height: 100px;
  border: 3px solid #73AD21;
 }
